header.app-navbar {
    width: 100%;
    background: #FFFFFF;
    display: flex;
    padding: 12px 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

header.app-navbar img {
    width: 84px;
}

header.app-navbar ul {
    font: 400 16px Ropa Sans, sans-serif;
    text-transform: uppercase;
    color: #011633;
    list-style-type: none;
}

header.app-navbar li {
    padding: 15px;
    display: inline;
}