#page-landing {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper {
    width: 90%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

#page-landing .content-wrapper img {
    max-width: 720px;
}

#page-landing .content-wrapper main h1 {
    width: 90%;
    color: black;
    font: 400 52px Ropa Sans, sans-serif;
}

#page-landing .content-wrapper main h2 {
    margin: 12px 0px 12px 0px;
    max-width: 80%;
    color: black;
    font: 300 20px Lato, sans-serif;
}